# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
Server/node_modules/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
